<launch>
    <node name="autoland_main" pkg="autoland_node" type="autoland.py" output="screen" >
        
    </node>

    <node name="auotland_controller" pkg="pid" type="controller" output="screen">
        <param name="Kp" value="1.0" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.0" />
		<param name="upper_limit" value="10" />
		<param name="lower_limit" value="-10" />
		<param name="windup_limit" value="10" />
		<param name="diagnostic_period" value="0.25" />
		<param name="max_loop_frequency" value="100.0" />
		<param name="min_loop_frequency" value="100.0" />
        <param name="topic_from_controller" value="effort_x" />
        <param name="topic_from_plant" value="statex" />
        <param name="setpoint_topic" value"setpointx" />
    </node>

    <node name="auotland_controller" pkg="pid" type="controller" output="screen">
        <param name="Kp" value="1.0" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.0" />
		<param name="upper_limit" value="10" />
		<param name="lower_limit" value="-10" />
		<param name="windup_limit" value="10" />
		<param name="diagnostic_period" value="0.25" />
		<param name="max_loop_frequency" value="100.0" />
		<param name="min_loop_frequency" value="100.0" />
        <param name="topic_from_controller" value="effort_x" />
        <param name="topic_from_plant" value="statex" />
        <param name="setpoint_topic" value"setpointx" />
    </node>

</launch>

